body {
    background-image: url(/src/images/bg-desktop.svg);
    min-height: 100vh;
    /*  background-size: cover; */
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

/* HEADER */

.logo-header {
    padding: 40px 80px;
}

/* MAIN */

.container {
    display: flex;
    padding: 40px 80px;
}

/* .logo img {
    width: 100%;
    max-width: 400px;
} */

.info {

    display: flex;
    flex-direction: column;
    line-height: 1.5;
    gap: 35px;
    margin: 50px 20px 0 40px;
    max-width: 500px;
}

.h2 {

    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 20px;
}

.p {

    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    background: #ffffff;
    border: none;
    box-shadow: 2px 4px 9px 3px #00000042;
    border-radius: 28px;
    height: 56px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    color: #684BB1;
    display: inline-block;
}


.btn:hover {
    background: #E880E8;
    cursor: pointer;
}


  .container-social {
    display: flex;
    justify-content: flex-end;
    
    
    
  }
  
  .social ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    text-decoration: none;
   
  }
  
  .social li a {
    color: #333;
    font-size: 1.4rem;
    transition: color 0.3s;
    transition: transform 0.3s ease-in-out;
    color: #ffffff; 
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px;    
  }
  
  .social li a:hover {
    color: #E880E8;
    
  }